.text-center {
    font-size: 30px;
    margin: auto;
}
.color { 
    color: blanchedalmond;
}

.col-3 {
    border: solid 1px green;
    }
.container {
    width: 100vw;
}

.jumbotron {
    margin-top: 2%;
    background-image: url(vp8EPN.gif);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
  
    border: solid 1px green;
    padding: 10px;
}


.col-12 {
    padding-top: 15px;
}

img { width: 70%;
display: flex;
}


@media screen and (min-width: 560px) {
    .jumbotron {
        height: 175%;
        margin-top: 2%;
        background-image: url(vp8EPN.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        
        border: solid 1px green;
        padding: 10px;
    }
    .col-md-6 { 
        padding-top: 275px;
    }

}
    
