.text-center {
    font-size: 30px;
    margin: auto;
}


.col-3 {
    border: solid 1px green;
    color
    
}
.container {
    width: 100vw;
}
.jumbotron {
    margin-top: 2%;
    background-color: rgba(15, 187, 31, 0.43);
    padding: 10px;
}


.col-12 {
    padding-top: 15px;
}